@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Encode+Sans+SC:wght@100&family=Fredoka+One&family=Montserrat+Subrayada:wght@700&family=Paprika&family=Racing+Sans+One&family=Ranga&family=Rye&family=Sansita+Swashed:wght@500&family=Six+Caps&family=Sulphur+Point&family=Syncopate&family=Zilla+Slab+Highlight:wght@700&display=swap');

@font-face {
  font-family: "billy";
  src: url(../BillionDreams_PERSONAL.ttf);
}

/*FIXME: cores*/

// $Primaria
$cor-primaria1: #000;
$cor-primaria2: pink;
$cor-primaria3: rgb(103, 15, 103);

// $secundaria
$cor-secundaria1: white;
$cor-secundaria2: black;
$cor-secundaria3: brown;

// $myCoolors-generic
$coolor-g1: #000000;
$coolor-g2: #412728;
$coolor-g3: #7f4d3e;
$coolor-g4: #b87c4c;
$coolor-g5: #e2b659;
$coolor-g6: #f9f874;


// $myCoolors-spot
$coolor-s1: #000000;
$coolor-s2: #303030;
$coolor-s3: #ffe3f1;
$coolor-s4: #00c9c8;

// teste
$teste-s1: #03071e;
$teste-s2: #370617;
$teste-s3: #6a040f;
$teste-s4: #9d0208;
$teste-s5: #d00000;
$teste-s6: #dc2f02;


html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  // background-color: #212d39;
  background-color: #000;
  font-family: "century gothic"; //  *Paprika* & Racing+Sans+One & **Rye** & /Sansita+Swashed:wght@500/ & *Syncopate* & Zilla+Slab+Highlight');

}

img {
  max-width: 100%;
}

// FIXME: navbar

nav.navbar {
  background-color: #111;
  a#prog {
    position: relative;
    margin-left: 10px;
  }
  a#prog::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6a4aa1;

    transform: scaleX(0);
    transform-origin: right; // sem com ou de qualquer jeito fica incrivel...
    transition: transform 0.25s ease-in;
  }
  a#prog:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

header#con {
  font-family: courier;
  padding: 0;
  color: rgb(170, 65, 0);
  outline: 5px solid black;

  // div.carousel.slide {
  //   @media only screen and (min-width: 0px) {
  //   img{width: 100%; height: 150px;}
  //   }
  //   @media only screen and (min-width: 300px) {
  //   img{width: 100%; height: 300px;}
  //   }
  //   @media only screen and (min-width: 700px) {
  //   img{width: 100%; height: 500px;}
  //   }
  //   @media only screen and (min-width: 1080px) {
  //   img{width: 100%; height: 700px;}
  //   }
  // }
  //   button {
  //     background-color: black;
  //   }
  //   .carousel-caption {
      
  //       color: #000;
      
  //   }
  // }
}

// FIXME: flex



section#flex {
  background-color: #000;
  max-width: 100%;
  padding: 0;
  margin: 0;
  
  div#peso{
    color: $cor-secundaria1;
  }

  img{
    padding: 10px;
    // margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @mixin fileira {
    text-transform: capitalize;
    // font-style: italic;
    
    h1 {
      // font-size: 3.5rem;
      // font-weight: bold;
      letter-spacing: 0.2rem;
  
      text-align: left;
      padding: 10px 0px 10px 10px; 
  
    }
    
    p {
      // font-size: 1.3rem;
      font-family: "century gothic"; //times new roman, helvetica, garamond, bodoni, century expanded, futura,
    }
    color: $cor-secundaria1;
    
  }

  div#peso {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: antiquewhite;

  }

  div#food {@include fileira;}

  div#natural {@include fileira;}
  
  div#loss {@include fileira;}

}

// FIXME: questions

section#questions {
  img{background-blend-mode: color-dodge;}
  .accordion{    
    .accordion-item {
      background-color: #111;
      border-color: #580000;
      color: #fff;
    }
    
  }
 
  // no .accordion-body
      // use height: 120px;
      // use overflow: auto;
      //caso haja queira limitar o espaço
  
  .accordion-button::after {
    background-color: #888;
    border-radius: 10px;
  }
  .accordion-button {
    font-size: 1.5rem;
    // font-weight: bold;


    background-color: $cor-primaria1;
    color: $cor-secundaria1;
  }

}


// FIXME: makers
section#makers{
  // background-color: #6a0202;
  background-color: $coolor-g1;
  // background-color: #222;
  // background-color: transparent;
  color: $cor-secundaria1;

  div.card{
    background-color: transparent;
    border: none;
  }

  div.card-body{
    height: 400px;
  }
}




// FIXME: MAP
section#map{
  ul{
    @media (max-width:400px) {
      margin: 0;
    }

    li{
      background-color: transparent;
      border-color: #000;
      color: #fff;
      
    }
  }
  div.col-lg-6{
    height: 400px;
    
    #mapbox{
      width: 100%;
      height: 100%;
    }

  }
}


footer{
  margin-top: 100px;
  background-color: #111;
  color: aliceblue;
  div.footer-content div.container{
    p.p-2{
      max-width: 520px;
      // margin: 0 auto;
    }
  }

  ul{
    a{ color: wheat;}
    align-items: center;
    justify-content: center;
    list-style: none;
    li{
      margin: 1rem 1rem 3rem 0;
      border-color: red;

    }
    padding: 0;
  }

  .footer-bottom{
    background-color: #000;
    padding: 5vh 0;

  }

}