// FIXME: footer
footer.text-center.position-relative
  .footer-content.pt-4
    .text-center
      h3 Contate-nos
      a.position-absolute.bottom-0.end-0.p-5(href='#')
        i.bi.bi-arrow-up-circle.h1
      ul.d-flex
        li
          a(href='') ElisaDreadsLooks
          a(href='#')
            i.bi.bi-whatsapp
        li
          a(href='') FlavioDreadStudio
          a(href='#')
            i.bi.bi-whatsapp
      .footer-bottom
        p.lead
          | Copyright &copy; 2022 Dreadsbh 
          br 
          | Feito Por 

          span(style='opacity: 0.5; text-decoration: underline') Carlgbs