
// FIXME: cabeçalho
header.bg-light.text-capitalize
  #carouselFade.carousel.slide(data-bs-touch='true' data-bs-interval='false')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselFade' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselFade' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='2' aria-label='Slide 3')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='3' aria-label='Slide 4')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='4' aria-label='Slide 5')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='5' aria-label='Slide 6')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='6' aria-label='Slide 7')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='7' aria-label='Slide 8')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='8' aria-label='Slide 9')
    
    .carousel-inner
      .carousel-item.active(data-bs-interval='10000')
        div.gallery-images(style="background-image: url('../img/elisa-sem.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj1.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj2.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj3.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj4.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj5.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/flavio.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/flavio-sem.jpeg');")
        
      .carousel-item(data-bs-interval='2000')
        div.gallery-images(style="background-image: url('../img/jooj6.jpeg');")
        
    button.carousel-control-prev(type='button' data-bs-target='#carouselFade' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselFade' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next