
// FIXME: cabeçalho
header.bg-light.text-capitalize
  #carouselFade.carousel.slide(data-bs-touch='true' data-bs-interval='false')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselFade' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselFade' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='2' aria-label='Slide 3')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='3' aria-label='Slide 4')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='4' aria-label='Slide 5')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='5' aria-label='Slide 6')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='6' aria-label='Slide 7')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='7' aria-label='Slide 8')
      button(type='button' data-bs-target='#carouselDark' data-bs-slide-to='8' aria-label='Slide 9')
    
    .carousel-inner
      .carousel-item.active(data-bs-interval='10000')
        div(style="\
width: 100%;\
min-height: 300px;\
height: 500px;\
max-height: 45vw;\
margin-top: 50px;\
background: no-repeat url('../img/elisa-sem.jpeg') center;\
background-size: contain;\
background-color: #000;\
        ")
          // <img src="elisa-sem.jpeg" alt="" />
        .carousel-caption.d-none.d-md-block
          h5 First slide label
          p
            | Some representative placeholder content for the first slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj1.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Second slide label
          p
            | Some representative placeholder content for the second slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj2.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj3.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj4.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj5.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/flavio.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/flavio-sem.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      .carousel-item(data-bs-interval='2000')
        div(style="\
        width: 100%;\
        min-height: 300px;\
        height: 500px;\
        max-height: 45vw;\
        margin-top: 50px;\
        background: no-repeat url('../img/jooj6.jpeg') center;\
        background-size: contain;\
        background-color: #000;\
        ")
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p
            | Some representative placeholder content for the third slide.
      |  --&gt;
    button.carousel-control-prev(type='button' data-bs-target='#carouselFade' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselFade' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next