// FIXME: navbar
nav.navbar.navbar-expand-md.fs-4.navbar-dark.fixed-top
  .container
    a.navbar-brand.fs-3(href='#') Dreadsbh
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Galeria
        li.nav-item
          a.nav-link(href='#questions') D&uacute;vidas
        li.nav-item
          a.nav-link(href='#agendar')  Agendar 
        li.nav-item
          a.nav-link(href='#map') Endere&ccedil;o