
// FIXME: questions
section#questions.mb-5
  .container
    h1.text-center.text-light.mb-4.text-capitalize
      | tire suas Duvidas.
    #Questions.accordion

      // FIXME: Item 1ยบ
      .accordion-item
        h2#headingOne.accordion-header
          button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            | #1&ordm; Como cuidar dele?
        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne')
          .accordion-body
            strong This is the first item&apos;s accordion body.
            |  It is
            |  shown by default, until the collapse plugin adds the appropriate
            |  classes that we use to style each element. These classes control
            |  the overall appearance, as well as the showing and hiding via
            |  CSS transitions. You can modify any of this with custom CSS or
            |  overriding our default variables. It&apos;s also worth noting that
            |  just about any HTML can go within the
            | code .accordion-body
            | , though the transition does limit overflow.

      // FIXME: Item 2ยบ
      .accordion-item
        h2#headingTwo.accordion-header
          button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | #2&ordm; Onde posso o encontrar
        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo')
          .accordion-body
            strong This is the second item&apos;s accordion body.
            | It is
            | hidden by default, until the collapse plugin adds the
            | appropriate classes that we use to style each element. These
            | classes control the overall appearance, as well as the showing
            | and hiding via CSS transitions. You can modify any of this with
            | custom CSS or overriding our default variables. It&apos;s also worth
            | noting that just about any HTML can go within the
            |code .accordion-body
            | ,though the transition does limit overflow.
      // FIXME: Item 3ยบ
      .accordion-item
        h2#headingThree.accordion-header
          button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
            | #3&ordm; &Eacute; Caro?
        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree')
          .accordion-body
            strong This is the third item&apos;s accordion body.
            |  It is
            | hidden by default, until the collapse plugin adds the
            | appropriate classes that we use to style each element. These
            | classes control the overall appearance, as well as the showing
            | and hiding via CSS transitions. You can modify any of this with
            | custom CSS or overriding our default variables. It&apos;s also worth
            | noting that just about any HTML can go within the
            | code .accordion-body
            | , though the transition does limit overflow.