@use "../abstracts/colors" as *;

@font-face {
  font-family: SS;
  src: url("/fonts/sansSerifFLF/SansSerifFLF.otf");
}

@font-face {
  font-family: SSI;
  src: url("/fonts/sansSerifFLF/SansSerifFLF-Italic.otf");
}

@font-face {
  font-family: SSDB;
  src: url("/fonts/sansSerifFLF/SansSerifFLF-Demibold.otf");
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: $cor-fundo;
}

img {
  max-width: 100%;
}
