@use "../abstracts/colors" as *;

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  // background-color: #212d39;
  background-color: $cor-fundo;
  font-family: "century gothic"; //  *Paprika* & Racing+Sans+One & **Rye** & /Sansita+Swashed:wght@500/ & *Syncopate* & Zilla+Slab+Highlight');

}

img {
  max-width: 100%;
}
