@use "../abstracts/colors" as *;

@font-face {
  font-family: sansSerifFLF;
  src: url(../../../fonts/sansSerifFLF/SansSerifFLF.otf);
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: $cor-fundo;
  // font-family: "century gothic"; 
  font-family: sansSerifFLF; 

}

img {
  max-width: 100%;
}
