@use "../abstracts/colors" as *;

section#flex {
  background-color: $cor-fundo;
  padding: 0;
  margin: 0;
  
  div#fotos{
    color: $cor-texto;
  }

  img{
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @mixin fileira {
    .container{
      height: 250px;
      margin-bottom: 30px;
      color: $cor-texto;
      text-transform: capitalize;
      
      h1 {
        text-align: center;
        margin-top: 50px;
        font-family: SSDB, Helvetica, Arial, sans-serif; 
        
      }
      
      p {
        margin: 10px auto;
        max-width: 21rem;
        font-family: SSI, Helvetica, Arial, sans-serif;
        
      }
    }
  }

  div#artesanatos {@include fileira;}

  div#dreads {@include fileira;}
  
  div#cosmeticos {@include fileira;}

}
