@use "../abstracts/colors" as *;


@font-face {
  font-family: sansSerifFLFBold;
  src: url(../../../fonts/sansSerifFLF/SansSerifFLF-Demibold.otf);
}

section#flex {
  background-color: $cor-fundo;
  padding: 0;
  margin: 0;
  
  div#fotos{
    color: $cor-texto;
  }

  img{
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @mixin fileira {
    text-transform: capitalize;
    
    h1 {
  
      text-align: center;
      margin-top: 50px;
      padding: 20px 0; 
  
    }
    
    p {
      margin: 10px auto;
      max-width: 21rem;
      text-align: auto;
      font-family: "century gothic"; //times new roman, helvetica, garamond, bodoni, century expanded, futura,
    }
    color: $cor-texto;
    
  }

  div#fotos {
    font-family: sansSerifFLFBold;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: antiquewhite;

  }

  div#artesanatos {@include fileira;}

  div#dreads {@include fileira;}
  
  div#cosmeticos {@include fileira;}

}
