@use "../abstracts/colors" as *;

header {
  padding: 0;
  color: rgb(170, 65, 0);

  .gallery-images{
    width: 100%;
    margin-top: 50px;

    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000;

    @media only screen and (max-width: 500px){
      background-attachment: scroll;
      height: 65vh;
    }

  }
}