@use '../abstracts/colors' as *;

section#makers {
  background-color: $cor-makers;
  color: $cor-texto;

  h2{font-family: SSDB, Helvetica, Arial, sans-serif;}

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  div.card {
    background-color: transparent;
    border: none;
  }

  div.card-body {
    height: 400px;

    h3{font-family: "century gothic", SSDB, Helvetica, Arial, sans-serif;}
    .card-text{font-family: SSI, Helvetica, Arial, sans-serif;}
  }
}
