@use "../abstracts/colors" as *;

section#map{
  ul{
    @media (max-width:400px) {
      margin: 0;
    }

    li{
      background-color: transparent;
      border-color: wheat;
      color: $cor-texto;
      
      span:nth-child(1){
        font-family: SSDB, Helvetica, Arial, sans-serif;
      }
    }
  }
  div.col-lg-6{
    height: 400px;
    
    #mapbox{
      width: 100%;
      height: 100%;
    }

  }
}
