@use '../abstracts/colors' as *;

section#duvidas {
  
  font-family: SS, Helvetica, Arial, sans-serif;
  h1{font-family: SSDB, Helvetica, Arial, sans-serif;}

   font-size: 1.25rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.2rem;
  }

  .accordion {
    .accordion-item {
      background-color: $cor-nav;
      border-color: #ccc;
      color: $cor-texto;
    }
  }

  // no .accordion-body
  // use height: 120px;
  // use overflow: auto;
  //caso queira limitar o espaço

  .accordion-button[aria-expanded='false'] {
    color: rgb(170, 170, 170);
  }
  .accordion-button[aria-expanded='true'] {
    color: white;
  }

  .accordion-button {
    font-size: 1.5rem;
    font-family: SSDB, Helvetica, Arial, sans-serif;

    background-color: $cor-fundo;
    color: $cor-texto;
    @media only screen and (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
