// Variaveis Customizaveis
$secondary: #c29938;
$dark: #000;

$accordion-button-color: grey;

// importando funções & variaveis; functions primeiro porque variaveis a usa.
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$custom-themes-colors: (
  "altprimary": hsl(91, 88%, 37%),
  "altsecondary": hsl(58, 72%, 48%),
  "tertiary": hsl(0, 80%, 45%),
  "altdark": #522192,
  "altdanger": $indigo-400
);

$theme-colors: map-merge($custom-themes-colors, $theme-colors);

// importando bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";