nav.navbar.navbar-expand-md.fs-4.navbar-dark.fixed-top
	.container-fluid
		a.navbar-brand.fs-3(href="#") Navbar
		button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarNavDropdown.collapse.navbar-collapse.justify-content-end
			- var links = require('../assets/links.json')
			ul.navbar-nav
				each item in links  
					li.nav-item
						a.nav-link.active(aria-current="page", href=item.link)=item.label