doctype html
html
    head
        include ../components/head.pug
    body
        //- - const links = require("../includes/menus.json");
        //- - const data = require("../includes/dados.json");
        block header
            include ../components/menu.pug
            include ../components/header.pug
        block content
            h1 My Site
            p Welcome to my super lame site.
            p Welcome to my super lame site.
            p Welcome to my super lame site.
            p Welcome to my super lame site.
            p Welcome to my super lame site.
        block footer
            include ../components/footer.pug
        //- include ../components/mobile-menu.pug 